<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kanban</title>
    <link rel="stylesheet" href="../static/css/output.css" type="text/css">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script src="../static/js/drag_and_drop.js" defer></script>
    <script src="../static/js/scripts.js"  type="module" defer></script>
  </head>
  <body>
    <div class="container">
        <div class="board-container flex flex-col">
            <!-- Les tableaux seront ajoutés ici -->
        </div>
    </div>
    <button id="add-board" 
            class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 rounded-full m-5">
            Add Board
    </button>

    </div>
  </body>
</html>

